@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>Confirm Email Address</h1>

<div>
    <p>Please confirm your email before proceeding! <br />
        If you haven't received any e-mail check your Spam folder!</p>

</div>
